html,
body {
  padding: 0;
  margin: 0;
  background-color: rgba(251, 247, 236, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
